<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.FeedReader" version="1.1.5" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net47" />
  <package id="Microsoft.SyndicationFeed.ReaderWriter" version="1.0.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.ServiceModel.Syndication" version="4.5.0" targetFramework="net47" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net47" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net47" />
</packages>